<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link href="/app/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid p-0">
    <div class="row min-vh-100">

        <!-- ЛЕВЫЙ SIDEBAR -->
        <div class="col-2 bg-dark text-white d-flex flex-column min-vh-100 p-2">

            <!-- ВЕРХ -->
            <div>

                <!-- ЛОГО + МЕНЮ -->
                <span class="d-flex align-items-center mb-3">
                    <img src="/app/static/images/logo.jpeg" width="80" height="40" class="me-2">
                    <span style="font-size:18px; font-weight:600;">Меню</span>
                </span>

                <!-- КНОПКИ МЕНЮ -->
                <button class="btn btn-dark w-100 text-start d-flex align-items-center mb-1">
                    <img src="/app/static/images/home.png" width="25" height="25" class="me-2">
                    Главная
                </button>

                <button class="btn btn-dark w-100 text-start d-flex align-items-center mb-1">
                    <img src="/app/static/images/catalog.jpg" width="25" height="25" class="me-2">
                    Каталог
                </button>

                <button class="btn btn-dark w-100 text-start d-flex align-items-center mb-1">
                    <img src="/app/static/images/category.jpg" width="25" height="25" class="me-2">
                    Категория 1
                </button>

                <button class="btn btn-dark w-100 text-start d-flex align-items-center">
                    <img src="/app/static/images/contacts.png" width="25" height="25" class="me-2">
                    Контакты
                </button>

            </div>

            <!-- НИЗ SIDEBAR (ПРИЛЕПЛЕН) -->
            <div class="dropdown mt-auto">
                <button class="btn btn-secondary dropdown-toggle w-100 mb-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Пользователь
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Профиль</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Выход</a></li>

              </ul>
            </div>

        </div>

        <!-- ПРАВАЯ ЧАСТЬ -->
        <div class="col-10 p-3">
            <h1 class="text-center mt-5">Каталог </h1>
                <div class="row mt-5">

        <div class="col-6 d-flex justify-content-center">
            <div class="card h-100" style="width: 25rem;">
                <img src="/app/static/images/card.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Товар 1</h5>
                    <p class="card-text">
                        Описание первого товара.
                    </p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>

        <div class="col-6 d-flex justify-content-center">
            <div class="card h-100" style="width: 25rem;">
                <img src="/app/static/images/card.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Товар 2</h5>
                    <p class="card-text">
                        Описание второго товара.
                    </p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
                </div>
            <div class="row mt-5">
        <div class="col-6 d-flex justify-content-center">
            <div class="card h-100" style="width: 25rem;">
                <img src="/app/static/images/card.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Товар 3</h5>
                    <p class="card-text">
                        Описание третьего товара.
                    </p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>

        <div class="col-6 d-flex justify-content-center">
            <div class="card h-100" style="width: 25rem;">
                <img src="/app/static/images/card.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Товар 4</h5>
                    <p class="card-text">
                        Описание четвертого товара.
                    </p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
</div>
    </div>
        </div>

        </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>